@{ var transaccion = (Transaccion)Model; }

<h1>Crear transaccion a la cuenta </h1>

<div class="row">
    <div class="col-6">
        <form action="/transaccion/crear" method="post">

            <input type="hidden" name="CuentaId" value="@ViewBag.CuentaId" />
            <input type="hidden" name="TipoAnt" value="0" />
            <input type="hidden" name="AmountAnt" value="0" />

            <div class="form-group">
                <label>Tipo</label>
                <select name="Tipo" class="form-control">
                    <option value="">-- Selecciona una opcion --</option>
                    @foreach (var item in ViewBag.Tipos)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Fecha y hora</label>
                <input type="datetime-local" class="form-control" name="FechaHora" />
            </div>

            <div class="form-group">
                <label>Motivo</label>
                <input class="text" name="Motivo" />
            </div>

            <div class="form-group">
                <label>Monto</label>
                <input type="number" class="form-control" name="Amount" />
            </div>

            <button class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>